<li id="message_{{id}}" class="message row">
  {{#user}}
  <div class="thumb col-md-1">
    <img src="{{thumb_url}}">
  </div>
  <div class="name col-md-11">
    <strong>{{first_name}} {{last_name}}</strong>
  {{/user}}

    <p>
      {{content}}
    </p>
  </div>
</li>
